body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-interface{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.color-choices{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    background-color: lightsteelblue;
    gap: 10px;
    width: 180px;
}

.resize, .randomize{
    background-color: whitesmoke;
    border-style: none;
    padding: 10px;
}

h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.canvas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: lightgray;
}