body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-interface{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

.menu-choices{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: lightsteelblue;
    gap: 10px;
    width: 180px;
}

button{
    background-color: whitesmoke;
    border-style: none;
    padding: 10px;
}

.brushes, .utilities{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.utilities{
    /* this will push the elements in this class to the bottom */
    margin-top: auto;
}

h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.canvas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: lightgray;
}

.bottom{
    display: flex;
    flex-direction: row;
    width: 702px;
    background-color: #bab7d7;
    padding: 10px;
}

.color-choices{
    display: flex;
    align-items: center;
    gap: 10px;
}

.change-back{
    margin-left: auto;
}

